{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}




{% with messages =
  get_flashed_messages() %} {% if messages %} {% for message in messages %}
  
  <div class="row justify-content-center">
    <p class="alert alert-danger mt-1 col-lg-2">{{ message }}</p>
  </div>
  {% endfor %} {% endif %} {% endwith %}


<div class="container d-flex border rounded justify-content-center bg-light w-25
  p-3 my-5 mx-auto ">

<form method="post">

<p>{{ form.password.label }}</p>
<p>{{ form.password }}</p>

</div>
{% endblock %}