{% extends 'base.html' %} {% block head %} {% endblock %}

{% block body %}

<div class='row'>
<div class="container d-flex w-25 col-sm" >

<table>
    <tr>
      <th>Friend</th>
    </tr>
    {% for i in friends %}
    <tr>
      <td><a href="/chat/{{i.username}}" method="post" class='btn btn-primary mx-3 ms-auto'>{{ i.username }}</a></td>
    </tr>
    {% endfor %}
  </table>

</div>

<div class= 'container d-flex col-sm mh-50'>
<textarea style = 'min-height:200px; max-height:200px;'></textarea>
  <table>
    <tr><th>Messages</th></tr>
    {% for i in messages%}
    <tr>
      <td>{{i}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class = 'col-sm'>
</div>
</div>

{% endblock %}