{% extends 'base.html' %} {% block head %} {% endblock %}

{% block body %}

<div class='row'>
<div class="container d-flex border rounded my-5 p-3 bg-light col-1" >

<table>
    <tr>
      <th>Friends</th>
    </tr>
    {% for i in friends %}
    <tr>
      <td><a href="/chat/{{i.username}}" method="post" class='btn btn-outline-primary mx-3 ms-auto'>{{ i.username }}</a></td>
    </tr>
    {% endfor %}
  </table>

</div>

<div class= 'container d-flex border rounded my-5 p-3 col-5 bg-light'>
  <table>
    <tr><th>Messages</th></tr>
    {% for i in messages %}
    <tr>
      <td>{{i}}</td>
    </tr>
    {% endfor %}
    <tr>
        <textarea class='m-3' style = 'min-height:200px; max-height:200px;'></textarea>
    </tr>
  </table>
</div>

<div class='col-3'>
</div>

</div>

{% endblock %}