{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %}
<h1>HELLO {{name}}</h1>
<ul >
    <li><a href="http://localhost:5000"> Login</h1></li>
    <li><a href="http://localhost:5000/number/2"> Link 2</h1></li>
    <li><a href="http://localhost:5000/number/3"> Link 3</h1></li>
    <li><a href="http://localhost:5000/number/4"> Link 4</h1></li>
    <li><a href="http://localhost:5000/json"> Link json</h1></li>
</ul>

<!-- <a href="http://localhost:5000/number/{{ value }}"> Link</a> -->

{% endblock %}