{% extends 'base.html' %} {% block head %} {% with messages =
get_flashed_messages() %} {% if messages %} {% for message in messages %}

<div class="row justify-content-center">
  <p class="alert alert-danger mt-1 col-2">{{ message }}</p>
</div>
{% endfor %} {% endif %} {% endwith %} {% endblock %} {% block body %}

<div
  class="container d-flex justify-content-center border rounded bg-light w-25 p-3 my-5 mx-auto"
>
  <form method="post">
    <p>{{ form.username.label}}</p>
    <p>{{ form.username }}</p>
    <p>{{ form.password.label }}</p>
    <p>{{ form.password }}</p>
    <p><input type="submit" value="Login" /></p>
    <p>
      <a class="btn btn-primary" href="/register" role="button"
        >Don't have an account</a
      >
    </p>
  </form>
</div>
{% endblock %}
