{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<div class="container d-flex border rounded justify-content-center bg-light">
  <form method="post">
    <p>{{ form.username.label}}</p>
    <p>{{ form.username }}</p>
    <p>{{ form.email.label }}</p>
    <p>{{ form.email }}</p>
    <p>{{ form.password.label }}</p>
    <p>{{ form.password }}</p>
    <p>{{ form.confirm.label }}</p>
    <p>{{ form.confirm }}</p>
    <p><input type="submit" value="Register" /></p>
  </form>
</div>

{% endblock %}
